@use "../base/mixins";

.services {
  padding: 50px 10px;

  &__text {
    @include mixins.set-font(500, 24px, 36px);

    padding: 0 39px;
  }

  &__content {
    @include mixins.set-flex(column, inherit, inherit, 20px);

    padding: 70px 5px;
  }
}

@media (min-width: 768px) {
  .services {
    padding: 50px 30px;
  }
}

@media (min-width: 1024px) {
  .services {
    padding: 50px 120px;

    &__content {
      flex-direction: row;
    }
  }
}